allow-git=none
audit=true
audit-level=low
engine-strict=true
fund=false
ignore-scripts=true
install-links=false
lockfile-version=3
min-release-age=3
package-lock=true
prefer-dedupe=true
prefer-offline=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-deps=true
strict-ssl=true
